.logo {
  padding-top: 10px;
  margin-left: 20px;
}

header {
  width: 100%;
  overflow-x: hidden;
}

.header {
  width: 95%;
  margin: 0 auto;
}

.menu-destra {
  margin-left: 270px;
}

ul {
  display: inline-block;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.button {
  display: inline-block;
  width: 70px;
  margin-left: 20px;
  border: 1px solid blue;
  color: blue;
  border-radius: 4px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}
.button strong {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
}
.button #google {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.line {
  width: 99vw;
}

main {
  width: 100%;
  height: 500vh;
}

.one {
  width: 95%;
  margin: 0 auto;
  height: 65vh;
  background-color: white;
}

.title h1 {
  font-size: 40px;
}

.jamobtron {
  width: 100%;
}

.two {
  background-color: pink;
  padding-bottom: 20px;
}
.two .PinkSection {
  margin: 0 auto;
  padding-top: 20px;
}
.two .PinkSection h3 {
  text-align: center;
  margin-bottom: 30px;
}
.two .PinkSection .pictures-places {
  width: 90%;
  margin: 0 auto;
}
.two .PinkSection .pictures-places .col-lg-3 img {
  width: 30%;
  height: 40%;
  margin-left: 35%;
}
.two .PinkSection .pictures-places .last-child {
  width: 20%;
  height: 50%;
}
.two .PinkSection .pictures-places .col-lg-3 p {
  text-align: center;
  margin-top: 30px;
}
.two .PinkSection .before-after {
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.two .seconda-linea {
  width: 95%;
  margin: 0 auto;
  border: 0.5px solid black;
}
.two h3 {
  text-align: center;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-6-dx {
  width: 50%;
  float: left;
}

.col-lg-6-sx {
  width: 50%;
  float: left;
}

.col-lg-3 {
  width: 33.24%;
  float: left;
  height: 300px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.blue-button {
  background-color: blue;
  display: inline-block;
  border-radius: 4px;
  padding: 5px;
  color: white;
}
.blue-button #loghi {
  width: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
}
.blue-button .text {
  display: inline-block;
}

.or {
  display: inline-block;
}

.container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
