main {
    width: 99%;
    margin: 0 auto;
    background-color: green;
}
section {
    width: 100%;
    background-color: green;
}
.title {
    h1 {
        font-size: $font-size;
    }
}
.jamobtron {
    width: 100%;
}